<div class="homepage">

    <h1>Home</h1>

    <br><br>
    <br><br>

    <div class="homepage">
        <h2>My Dog</h2>
        <textarea class="dog-profile" name="dog-text" cols="40" rows="5">
We know you love your furry friend, but only 200 characters please!
</textarea>

        <br><br>
        <br><br>

        {{!-- place for doggo photo?? --}}
        
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>

        <h2>My Events</h2>
        <textarea class="events-profile" name="event-text" cols="40" rows="5">
We know you love your furry friend, but try to keep it to 200 chars. at most please!</textarea>
    </div>

    <h2></h2>

</div>