  
<h1>Check Out Our Parks!</h1>

<br>

<table class="table">
  <tr>
    <th scope="col">Park</th>
    <th scope="col">Longitude</th>
    <th scope="col">Latitude</th>
  </tr>
  {{#each parks as |park|}}
  <tr>
    <td scope="row">{{park.name}}</td>
    <td>{{park.long}}</td>
    <td>{{park.lat}}</td>
  </tr>
  {{/each}}
</table>