<div class="section">
    <!-- main container -->
    <div class="container">
        <!-- title/subtitle box -->
        <div class="content">
            <h1 class="title">Pup-4-Pup</h1>
        </div>
        <div class="container">
            <button class="button" type="button" id="parkSeeds">Parks</button>
        </div>
    </div>
</div>

<script src="/js/seeds.js"></script>